APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[REDIS]HOST = 127.0.0.1PORT = 6379PASSWORD = 123456SELECT = 0[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = plumUSERNAME = rootPASSWORD = rootHOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn